In [20]:
import pandas as pd

awards_players = pd.read_csv("basketballPlayoffs/awards_players.csv")
coaches = pd.read_csv("basketballPlayoffs/coaches.csv")
players_teams = pd.read_csv("basketballPlayoffs/players_teams.csv")
players = pd.read_csv("basketballPlayoffs/players.csv")
series_post = pd.read_csv("basketballPlayoffs/series_post.csv")
teams_post = pd.read_csv("basketballPlayoffs/teams_post.csv")
teams = pd.read_csv("basketballPlayoffs/teams.csv")

tables = [awards_players,coaches,players_teams,players,series_post,teams_post,teams]

In [21]:
# because the league is always WNBA
new_tables = []
for table in tables:
    if "lgID" in table.columns and len(table["lgID"].unique()) == 1:
        table = table.drop(columns=['lgID'])
    if "lgIDWinner" in table.columns and len(table["lgIDWinner"].unique()) == 1:
        table = table.drop(columns=['lgIDWinner'])    
    if "lgIDLoser" in table.columns and len(table["lgIDLoser"].unique()) == 1:
        table = table.drop(columns=['lgIDLoser'])    
    new_tables.append(table)

In [22]:
tables = new_tables 
tables[1].head(10)

      coachID  year tmID  stint  won  lost  post_wins  post_losses
0  adamsmi01w     5  WAS      0   17    17          1            2
1  adubari99w     1  NYL      0   20    12          4            3
2  adubari99w     2  NYL      0   21    11          3            3
3  adubari99w     3  NYL      0   18    14          4            4
4  adubari99w     4  NYL      0   16    18          0            0
5  adubari99w     5  NYL      1    7     9          0            0
6  adubari99w     6  WAS      0   16    18          0            0
7  adubari99w     7  WAS      0   18    16          0            2
8  adubari99w     8  WAS      1    0     4          0            0
9  aglerbr99w     1  MIN      0   15    17          0            0